{% extends 'admin_base.html' %}
{% block content %}

{% if error == "no" %}
     <script>
	   alert('Car wash point Updated successfully');
	   window.location=('{% url 'manageCarWashpoint' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<div class="container card shadow mt-5">
		<div class="card-body">
			<h5 class="p-2" style="border-bottom: 2px solid orange">Edit Washing Point</h5>
             <br>
			<div class="container-fluid">
					<form method="post">
                     {% csrf_token %}

                     <div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Car Wash Point Name</label>
                                <input type="text" name="washingPointName" class="form-control" value="{{washingpoints.washingPointName}}">
							</div>
						</div>
					 </div>

					 <div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Address</label>
                                <textarea name="washingPointAddress" class="form-control">{{washingpoints.washingPointAddress}}</textarea>
							</div>
						</div>
					 </div>

					 <div class="row">
                        <div class="col-sm-12">
							<div class="form-group">
								<label>Contact Number</label>
                                <input type="text" name="contactNumber" class="form-control"  value="{{washingpoints.contactNumber}}" required maxlength="10">
							</div>
						</div>
					 </div>
    	             <hr>
						<input type="submit" value="Update" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>

{% endblock content %}